.star-button
    background: lighten($dark-blue, 4%)
    padding: 10px 10px 4px
    border-radius: 50%

.rating-buttons
    background: lighten($dark-blue, 8%)
    border-radius: 50%
    padding: 13px 16px 8px
    color: $light-grey

.submit-button
    background: $orange
    color: $white
    border-radius: 50px
    &:hover
        background: $white

//selected class will be added on click
.selected
    background: $orange !important
    color: $white !important
